/*@import 'tailwindcss';*/

@import '@tabler/core';
@import '@fortawesome/fontawesome-free/css/all.min.css';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

.container {
    max-width: 1080px !important;
}

/* discussion */
#discussion {
    margin-bottom: 2rem;
    position: relative;
    width: 100%;
    overflow: hidden;
    background-color: rgba(255, 255, 255, .05)
}

#discussion .dis-wrap {
    padding: 3rem 0 0;
    display: flex;
    justify-content: space-between;
}

#discussion .d_w-icon {
    position: relative;
    width: 320px;
    height: 320px;
    flex-shrink: 0;
}

#discussion .d_w-icon img {
    position: absolute;
    height: 100%;
    left: 0;
    bottom: 0;
}

#discussion .d_w-list {
    flex-grow: 1;
    width: calc(100% - 320px);
    position: relative;
}

#discussion .d_w-list .d_w_l-title {
    font-weight: 600;
    font-size: 1.2em;
    margin-bottom: 1.5rem;
}
